* {
    margin: 0; padding: 0; box-sizing: border-box;
}

body {
    background-color: rgb(28, 28, 28);
    color: white;
    font-family: 'Verdana';
}

.video-container {
    display: flex;
    height: 80vh;
    align-items: center;
    justify-content: center;
}

video {
    max-width: calc(50% - 100px);
    margin: 0 50px;
    border: 1px solid white;
}

h2 {
    text-align: center;
    text-shadow: 8px 8px 10px black;
    user-select: none;
    padding: 20px 0;
}

